{{!-- Simple list item for use in author/tag pages --}}
<li class="h-entry">
    <time class="dt-published post-date" datetime="{{date format="YYYY-MM-DD"}}">
        {{date format="DD MMM YYYY"}}
    </time>
    <a class="p-name u-url post-title" href="{{url}}">{{title}}</a>
</li>
