{{!< default}}

<section class="h-feed">
    <data class="p-name" value="{{@site.title}}" hidden></data>
    <ul class="article-list" role="list">
    {{#foreach posts}}
        {{> "card"}}
    {{/foreach}}
    </ul>

    <nav class="gh-pagination" aria-label="{{t "Pagination"}}">
        {{pagination}}
    </nav>
</section>
