/* Error Templates
/* ---------------------------------------------------------- */

.gh-error-stack {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--content-spacing) 0;
    text-align: left;
}
