/* Reset
/* ---------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: var(--body-size);
    border-top: 0.5rem solid var(--color-primary);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--color-base);
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    background: var(--color-bg);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol,
li,
dl,
dd,
hr,
pre,
form,
table,
video,
figure,
figcaption,
blockquote {
    margin: 0;
    padding: 0;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select,
textarea {
    font: inherit;
    -webkit-appearance: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

label {
    display: block;
    font-size: 0.9em;
    font-weight: 700;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-border);
    opacity: 0.5;
}

::selection {
    text-shadow: none;
    background: oklch(0.8 0.1 266.4);
}

mark {
    background-color: #fdffb6;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

ul:not([class]) li + li {
    margin-top: 0.4em;
}


/* Links
/* ---------------------------------------------------------- */

a {
    color: var(--color-primary);
    text-decoration: none;
    border-bottom: 0.1rem dotted var(--color-primary);
    transition: background-color 0.15s ease;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    background-color: var(--color-bg-alt);
}

a[class] {
    color: inherit;
    border-bottom: none;
    transition: 0.2s ease;
}

a[class]:hover {
    transition: 0.15s ease;
}


/* Headings
/* ---------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-primary);
    text-wrap: balance;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
}

p {
    text-wrap: pretty;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
